@charset "utf-8";

/* CSS Document */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}
header {
    background-color: #F1F0E8;
}

section {
    background-color: rgb(197, 160, 255);
    padding: 1% 0 1% 1%;
}
article {
    background-color: #B3C8CF;
    padding: 1% 0%;
}
footer {
    background-color: #F1F0E8;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.redSocial {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 1;
}

.redSocial img{
    width: 5vh;
}